@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .button {
        @apply relative block w-full rounded-full py-3 text-center text-lg font-semibold text-white;
        @apply md:inline-block md:w-56;
        @apply hover:bg-opacity-50;
    }

    .button span {
        @apply absolute left-0 -bottom-1 -z-10 h-full w-full rounded-full;
    }

    .title {
        @apply text-center font-semibold leading-tight text-blue-darkgrayish;
    }

    .text {
        @apply mt-5 text-center text-[1.025rem] text-blue-grayish;
    }
}

@layer utilities {
    sr-only {
        border: 0 !important;
        clip: rect(1px, 1px, 1px, 1px) !important;
        -webkit-clip-path: inset(50%) !important;
        clip-path: inset(50%) !important;
        height: 1px !important;
        margin: -1px !important;
        overflow: hidden !important;
        padding: 0 !important;
        position: absolute !important;
        width: 1px !important;
        white-space: nowrap !important;
    }

    .sr-only-focusable:focus,
    .sr-only-focusable:active {
        clip: auto !important;
        -webkit-clip-path: none !important;
        clip-path: none !important;
        height: auto !important;
        margin: auto !important;
        overflow: visible !important;
        width: auto !important;
        white-space: normal !important;
    }
}
